body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1220px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2045_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1220px;
  height:70px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2045 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1220px;
  height:70px;
}
#u2045_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2046_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:23px;
  background:inherit;
  background-color:rgba(105, 105, 107, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:0px 0px 10px rgba(255, 255, 255, 0.349019607843137);
  -webkit-box-shadow:0px 0px 10px rgba(255, 255, 255, 0.349019607843137);
  box-shadow:0px 0px 10px rgba(255, 255, 255, 0.349019607843137);
}
#u2046 {
  border-width:0px;
  position:absolute;
  left:994px;
  top:21px;
  width:170px;
  height:23px;
}
#u2046_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:23px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:0px 0px 10px rgba(255, 255, 255, 0.349019607843137);
  -webkit-box-shadow:0px 0px 10px rgba(255, 255, 255, 0.349019607843137);
  box-shadow:0px 0px 10px rgba(255, 255, 255, 0.349019607843137);
}
#u2046.mouseOver {
}
#u2046_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:166px;
  word-wrap:break-word;
}
#u2047_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:27px;
}
#u2047 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:17px;
  width:30px;
  height:27px;
}
#u2047_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2048 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:70px;
  width:1220px;
  height:35px;
  overflow:hidden;
  visibility:hidden;
}
#u2048_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1220px;
  height:35px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(201, 201, 201, 1);
  background-image:none;
}
#u2048_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2049_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u2049 {
  border-width:0px;
  position:absolute;
  left:661px;
  top:10px;
  width:57px;
  height:16px;
  color:#000000;
}
#u2049_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u2049.mouseOver {
}
#u2049_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u2049.mouseDown {
}
#u2049_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u2049.selected {
}
#u2049_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2050_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u2050 {
  border-width:0px;
  position:absolute;
  left:564px;
  top:10px;
  width:43px;
  height:16px;
  color:#000000;
}
#u2050_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u2050.mouseOver {
}
#u2050_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u2050.mouseDown {
}
#u2050_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u2050.selected {
}
#u2050_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u2051_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:3px;
}
#u2051 {
  border-width:0px;
  position:absolute;
  left:633px;
  top:18px;
  width:3px;
  height:3px;
  color:#000000;
}
#u2051_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2052_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u2052 {
  border-width:0px;
  position:absolute;
  left:465px;
  top:10px;
  width:57px;
  height:16px;
  color:#000000;
}
#u2052_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u2052.mouseOver {
}
#u2052_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u2052.mouseDown {
}
#u2052_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u2052.selected {
}
#u2052_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2053_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:3px;
}
#u2053 {
  border-width:0px;
  position:absolute;
  left:541px;
  top:18px;
  width:3px;
  height:3px;
  color:#000000;
}
#u2053_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2054 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:70px;
  width:1220px;
  height:35px;
  overflow:hidden;
  visibility:hidden;
}
#u2054_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1220px;
  height:35px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(201, 201, 201, 1);
  background-image:none;
}
#u2054_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2055_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u2055 {
  border-width:0px;
  position:absolute;
  left:644px;
  top:10px;
  width:57px;
  height:16px;
  color:#000000;
}
#u2055_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u2055.mouseOver {
}
#u2055_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u2055.mouseDown {
}
#u2055_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u2055.selected {
}
#u2055_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2056_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u2056 {
  border-width:0px;
  position:absolute;
  left:526px;
  top:10px;
  width:57px;
  height:16px;
  color:#000000;
}
#u2056_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u2056.mouseOver {
}
#u2056_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u2056.mouseDown {
}
#u2056_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u2056.selected {
}
#u2056_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2057_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u2057 {
  border-width:0px;
  position:absolute;
  left:410px;
  top:10px;
  width:57px;
  height:16px;
  color:#000000;
}
#u2057_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u2057.mouseOver {
}
#u2057_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u2057.mouseDown {
}
#u2057_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u2057.selected {
}
#u2057_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2058_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:3px;
}
#u2058 {
  border-width:0px;
  position:absolute;
  left:614px;
  top:18px;
  width:3px;
  height:3px;
  color:#000000;
}
#u2058_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2059_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:3px;
}
#u2059 {
  border-width:0px;
  position:absolute;
  left:494px;
  top:18px;
  width:3px;
  height:3px;
  color:#000000;
}
#u2059_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2060 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:70px;
  width:1220px;
  height:35px;
  overflow:hidden;
  visibility:hidden;
}
#u2060_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1220px;
  height:35px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(201, 201, 201, 1);
  background-image:none;
}
#u2060_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2061_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u2061 {
  border-width:0px;
  position:absolute;
  left:653px;
  top:10px;
  width:71px;
  height:16px;
  color:#000000;
}
#u2061_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u2061.mouseOver {
}
#u2061_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u2061.mouseDown {
}
#u2061_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u2061.selected {
}
#u2061_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u2062_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u2062 {
  border-width:0px;
  position:absolute;
  left:518px;
  top:10px;
  width:71px;
  height:16px;
  color:#000000;
}
#u2062_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u2062.mouseOver {
}
#u2062_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u2062.mouseDown {
}
#u2062_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u2062.selected {
}
#u2062_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u2063_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u2063 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:10px;
  width:71px;
  height:16px;
  color:#000000;
}
#u2063_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u2063.mouseOver {
}
#u2063_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u2063.mouseDown {
}
#u2063_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u2063.selected {
}
#u2063_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u2064_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:3px;
}
#u2064 {
  border-width:0px;
  position:absolute;
  left:620px;
  top:18px;
  width:3px;
  height:3px;
  color:#000000;
}
#u2064_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2065_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:3px;
}
#u2065 {
  border-width:0px;
  position:absolute;
  left:489px;
  top:18px;
  width:3px;
  height:3px;
  color:#000000;
}
#u2065_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2066_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u2066 {
  border-width:0px;
  position:absolute;
  left:783px;
  top:10px;
  width:71px;
  height:16px;
  color:#000000;
}
#u2066_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u2066.mouseOver {
}
#u2066_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u2066.mouseDown {
}
#u2066_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u2066.selected {
}
#u2066_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u2067_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:3px;
}
#u2067 {
  border-width:0px;
  position:absolute;
  left:757px;
  top:18px;
  width:3px;
  height:3px;
  color:#000000;
}
#u2067_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2068 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:70px;
  width:1220px;
  height:35px;
  overflow:hidden;
  visibility:hidden;
}
#u2068_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1220px;
  height:35px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(201, 201, 201, 1);
  background-image:none;
}
#u2068_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2069_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u2069 {
  border-width:0px;
  position:absolute;
  left:508px;
  top:10px;
  width:57px;
  height:16px;
  color:#000000;
}
#u2069_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u2069.mouseOver {
}
#u2069_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u2069.mouseDown {
}
#u2069_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u2069.selected {
}
#u2069_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2070_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u2070 {
  border-width:0px;
  position:absolute;
  left:388px;
  top:10px;
  width:57px;
  height:16px;
  color:#000000;
}
#u2070_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u2070.mouseOver {
}
#u2070_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u2070.mouseDown {
}
#u2070_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u2070.selected {
}
#u2070_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2071_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u2071 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:10px;
  width:85px;
  height:16px;
  color:#000000;
}
#u2071_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u2071.mouseOver {
}
#u2071_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u2071.mouseDown {
}
#u2071_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u2071.selected {
}
#u2071_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u2072_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:3px;
}
#u2072 {
  border-width:0px;
  position:absolute;
  left:470px;
  top:18px;
  width:3px;
  height:3px;
  color:#000000;
}
#u2072_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2073_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:3px;
}
#u2073 {
  border-width:0px;
  position:absolute;
  left:361px;
  top:18px;
  width:3px;
  height:3px;
  color:#000000;
}
#u2073_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2074_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:70px;
}
#u2074 {
  border-width:0px;
  position:absolute;
  left:373px;
  top:0px;
  width:100px;
  height:70px;
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-weight:700;
  font-style:normal;
  color:#F2F2F2;
  text-align:center;
}
#u2074_img.mouseOver {
  left:-5px;
  top:-5px;
  width:110px;
  height:80px;
}
#u2074.mouseOver {
}
#u2074_img.mouseDown {
}
#u2074.mouseDown {
}
#u2074_img.selected {
  left:-5px;
  top:-5px;
  width:110px;
  height:80px;
}
#u2074.selected {
}
#u2074_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:28px;
  width:100px;
  word-wrap:break-word;
}
#u2075_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:70px;
}
#u2075 {
  border-width:0px;
  position:absolute;
  left:639px;
  top:0px;
  width:100px;
  height:70px;
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-weight:700;
  font-style:normal;
  color:#F2F2F2;
  text-align:center;
}
#u2075_img.mouseOver {
  left:-5px;
  top:-5px;
  width:110px;
  height:80px;
}
#u2075.mouseOver {
}
#u2075_img.mouseDown {
}
#u2075.mouseDown {
}
#u2075_img.selected {
  left:-5px;
  top:-5px;
  width:110px;
  height:80px;
}
#u2075.selected {
}
#u2075_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:28px;
  width:100px;
  word-wrap:break-word;
}
#u2076_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:70px;
}
#u2076 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:0px;
  width:100px;
  height:70px;
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-weight:700;
  font-style:normal;
  color:#F2F2F2;
  text-align:center;
}
#u2076_img.mouseOver {
  left:-5px;
  top:-5px;
  width:110px;
  height:80px;
}
#u2076.mouseOver {
}
#u2076_img.mouseDown {
}
#u2076.mouseDown {
}
#u2076_img.selected {
  left:-5px;
  top:-5px;
  width:110px;
  height:80px;
}
#u2076.selected {
}
#u2076_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:28px;
  width:100px;
  word-wrap:break-word;
}
#u2077_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:70px;
}
#u2077 {
  border-width:0px;
  position:absolute;
  left:506px;
  top:0px;
  width:100px;
  height:70px;
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-weight:700;
  font-style:normal;
  color:#F2F2F2;
  text-align:center;
}
#u2077_img.mouseOver {
  left:-5px;
  top:-5px;
  width:110px;
  height:80px;
}
#u2077.mouseOver {
}
#u2077_img.mouseDown {
}
#u2077.mouseDown {
}
#u2077_img.selected {
  left:-5px;
  top:-5px;
  width:110px;
  height:80px;
}
#u2077.selected {
}
#u2077_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:28px;
  width:100px;
  word-wrap:break-word;
}
#u2078_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:70px;
}
#u2078 {
  border-width:0px;
  position:absolute;
  left:772px;
  top:0px;
  width:100px;
  height:70px;
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-weight:700;
  font-style:normal;
  color:#F2F2F2;
  text-align:center;
}
#u2078_img.mouseOver {
  left:-5px;
  top:-5px;
  width:110px;
  height:80px;
}
#u2078.mouseOver {
}
#u2078_img.mouseDown {
}
#u2078.mouseDown {
}
#u2078_img.selected {
  left:-5px;
  top:-5px;
  width:110px;
  height:80px;
}
#u2078.selected {
}
#u2078_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:28px;
  width:100px;
  word-wrap:break-word;
}
#u2079 {
  position:fixed;
  left:50%;
  margin-left:-610px;
  top:0px;
  visibility:hidden;
}
#u2079_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1220px;
  height:50px;
  background-image:none;
}
#u2079_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2080_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1220px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 5px 5px rgba(153, 153, 153, 0.349019607843137);
  -webkit-box-shadow:0px 5px 5px rgba(153, 153, 153, 0.349019607843137);
  box-shadow:0px 5px 5px rgba(153, 153, 153, 0.349019607843137);
}
#u2080 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1220px;
  height:50px;
}
#u2080_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1220px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 5px 5px rgba(153, 153, 153, 0.349019607843137);
  -webkit-box-shadow:0px 5px 5px rgba(153, 153, 153, 0.349019607843137);
  box-shadow:0px 5px 5px rgba(153, 153, 153, 0.349019607843137);
}
#u2080.mouseOver {
}
#u2080_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1220px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 5px 5px rgba(153, 153, 153, 0.349019607843137);
  -webkit-box-shadow:0px 5px 5px rgba(153, 153, 153, 0.349019607843137);
  box-shadow:0px 5px 5px rgba(153, 153, 153, 0.349019607843137);
}
#u2080.mouseDown {
}
#u2080_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2081_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:12px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u2081 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:7px;
  width:98px;
  height:35px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u2081_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:94px;
  word-wrap:break-word;
}
#u2082_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:center;
}
#u2082 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:50px;
  color:#999999;
  text-align:center;
}
#u2082_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:center;
}
#u2082.mouseOver {
}
#u2082_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:center;
}
#u2082.mouseDown {
}
#u2082_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:center;
}
#u2082.selected {
}
#u2082_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:17px;
  width:100px;
  word-wrap:break-word;
}
#u2083_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:center;
}
#u2083 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:0px;
  width:100px;
  height:50px;
  color:#999999;
  text-align:center;
}
#u2083_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:center;
}
#u2083.mouseOver {
}
#u2083_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:center;
}
#u2083.mouseDown {
}
#u2083_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:center;
}
#u2083.selected {
}
#u2083_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:17px;
  width:100px;
  word-wrap:break-word;
}
#u2084_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:center;
}
#u2084 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:0px;
  width:100px;
  height:50px;
  color:#999999;
  text-align:center;
}
#u2084_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:center;
}
#u2084.mouseOver {
}
#u2084_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:center;
}
#u2084.mouseDown {
}
#u2084_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:center;
}
#u2084.selected {
}
#u2084_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:17px;
  width:100px;
  word-wrap:break-word;
}
#u2085 {
  border-width:0px;
  position:absolute;
  left:162px;
  top:145px;
  width:897px;
  height:215px;
}
#u2086_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:35px;
}
#u2086 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:35px;
  color:#FFFFFF;
}
#u2086_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:175px;
  word-wrap:break-word;
}
#u2087_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:35px;
}
#u2087 {
  border-width:0px;
  position:absolute;
  left:179px;
  top:0px;
  width:179px;
  height:35px;
  color:#FFFFFF;
}
#u2087_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:175px;
  word-wrap:break-word;
}
#u2088_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:35px;
}
#u2088 {
  border-width:0px;
  position:absolute;
  left:358px;
  top:0px;
  width:179px;
  height:35px;
  color:#FFFFFF;
}
#u2088_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:175px;
  word-wrap:break-word;
}
#u2089_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:35px;
}
#u2089 {
  border-width:0px;
  position:absolute;
  left:537px;
  top:0px;
  width:179px;
  height:35px;
  color:#FFFFFF;
}
#u2089_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:175px;
  word-wrap:break-word;
}
#u2090_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:35px;
}
#u2090 {
  border-width:0px;
  position:absolute;
  left:716px;
  top:0px;
  width:181px;
  height:35px;
  color:#FFFFFF;
}
#u2090_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:177px;
  word-wrap:break-word;
}
#u2091_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:30px;
}
#u2091 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:35px;
  width:179px;
  height:30px;
}
#u2091_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:175px;
  word-wrap:break-word;
}
#u2092_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:30px;
}
#u2092 {
  border-width:0px;
  position:absolute;
  left:179px;
  top:35px;
  width:179px;
  height:30px;
}
#u2092_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:175px;
  word-wrap:break-word;
}
#u2093_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:30px;
}
#u2093 {
  border-width:0px;
  position:absolute;
  left:358px;
  top:35px;
  width:179px;
  height:30px;
}
#u2093_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2094_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:30px;
}
#u2094 {
  border-width:0px;
  position:absolute;
  left:537px;
  top:35px;
  width:179px;
  height:30px;
}
#u2094_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:175px;
  word-wrap:break-word;
}
#u2095_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:30px;
}
#u2095 {
  border-width:0px;
  position:absolute;
  left:716px;
  top:35px;
  width:181px;
  height:30px;
}
#u2095_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2096_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:30px;
}
#u2096 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:65px;
  width:179px;
  height:30px;
}
#u2096_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2097_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:30px;
}
#u2097 {
  border-width:0px;
  position:absolute;
  left:179px;
  top:65px;
  width:179px;
  height:30px;
}
#u2097_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2098_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:30px;
}
#u2098 {
  border-width:0px;
  position:absolute;
  left:358px;
  top:65px;
  width:179px;
  height:30px;
}
#u2098_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2099_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:30px;
}
#u2099 {
  border-width:0px;
  position:absolute;
  left:537px;
  top:65px;
  width:179px;
  height:30px;
}
#u2099_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2100_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:30px;
}
#u2100 {
  border-width:0px;
  position:absolute;
  left:716px;
  top:65px;
  width:181px;
  height:30px;
}
#u2100_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2101_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:30px;
}
#u2101 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:95px;
  width:179px;
  height:30px;
}
#u2101_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2102_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:30px;
}
#u2102 {
  border-width:0px;
  position:absolute;
  left:179px;
  top:95px;
  width:179px;
  height:30px;
}
#u2102_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2103_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:30px;
}
#u2103 {
  border-width:0px;
  position:absolute;
  left:358px;
  top:95px;
  width:179px;
  height:30px;
}
#u2103_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2104_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:30px;
}
#u2104 {
  border-width:0px;
  position:absolute;
  left:537px;
  top:95px;
  width:179px;
  height:30px;
}
#u2104_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2105_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:30px;
}
#u2105 {
  border-width:0px;
  position:absolute;
  left:716px;
  top:95px;
  width:181px;
  height:30px;
}
#u2105_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2106_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:30px;
}
#u2106 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:125px;
  width:179px;
  height:30px;
}
#u2106_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2107_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:30px;
}
#u2107 {
  border-width:0px;
  position:absolute;
  left:179px;
  top:125px;
  width:179px;
  height:30px;
}
#u2107_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2108_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:30px;
}
#u2108 {
  border-width:0px;
  position:absolute;
  left:358px;
  top:125px;
  width:179px;
  height:30px;
}
#u2108_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2109_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:30px;
}
#u2109 {
  border-width:0px;
  position:absolute;
  left:537px;
  top:125px;
  width:179px;
  height:30px;
}
#u2109_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2110_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:30px;
}
#u2110 {
  border-width:0px;
  position:absolute;
  left:716px;
  top:125px;
  width:181px;
  height:30px;
}
#u2110_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2111_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:30px;
}
#u2111 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:155px;
  width:179px;
  height:30px;
}
#u2111_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2112_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:30px;
}
#u2112 {
  border-width:0px;
  position:absolute;
  left:179px;
  top:155px;
  width:179px;
  height:30px;
}
#u2112_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2113_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:30px;
}
#u2113 {
  border-width:0px;
  position:absolute;
  left:358px;
  top:155px;
  width:179px;
  height:30px;
}
#u2113_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2114_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:30px;
}
#u2114 {
  border-width:0px;
  position:absolute;
  left:537px;
  top:155px;
  width:179px;
  height:30px;
}
#u2114_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2115_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:30px;
}
#u2115 {
  border-width:0px;
  position:absolute;
  left:716px;
  top:155px;
  width:181px;
  height:30px;
}
#u2115_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2116_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:30px;
}
#u2116 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:185px;
  width:179px;
  height:30px;
}
#u2116_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2117_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:30px;
}
#u2117 {
  border-width:0px;
  position:absolute;
  left:179px;
  top:185px;
  width:179px;
  height:30px;
}
#u2117_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2118_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:30px;
}
#u2118 {
  border-width:0px;
  position:absolute;
  left:358px;
  top:185px;
  width:179px;
  height:30px;
}
#u2118_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2119_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:30px;
}
#u2119 {
  border-width:0px;
  position:absolute;
  left:537px;
  top:185px;
  width:179px;
  height:30px;
}
#u2119_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2120_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:30px;
}
#u2120 {
  border-width:0px;
  position:absolute;
  left:716px;
  top:185px;
  width:181px;
  height:30px;
}
#u2120_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
